@charset "UTF-8";

/* ヘッダーの固定 */
header {
  position: sticky;
  top: 0;
  width: 100%;
  /* 固定画面を前面に出す */
  z-index: 999;
}

/* バーティカルバーメニュー*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* バーティカルバーの位置 */
.cp_offcm01 {
  position: absolute;
  top: 8px;
  right: 20px;
  display: inline-block;
}

/* menu */
.cp_offcm01 .cp_menu {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 180px;
  cursor: pointer;

  transition: 0.53s transform;
  background-color: rgb(147, 130, 109);
  opacity: 0.8;
}

.cp_offcm01 .cp_menu li {
  list-style: none;
}

.cp_offcm01 .cp_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.cp_offcm01 #cp_toggle01 {
  position: absolute;
  display: none;
  opacity: 0;
}

/* menu巾 */
.cp_offcm01 #cp_toggle01:checked~.cp_menu {
  transform: translateX(-100vw);
}

/* menu toggle */
.cp_offcm01 #cp_toggle01~label {
  display: block;
  cursor: pointer;
  transition: 0.5s transform;
  color: #fff;
}

/* menu × の位置 */
.cp_offcm01 #cp_toggle01:checked~label {
  transform: translateX(-175px);
}

.cp_offcm01 #cp_toggle01~label::before {
  font-family: 'FontAwesome';
  content: '\f0c9';
  font-size: 1.5em
}

.cp_offcm01 #cp_toggle01:checked~label::before {
  content: '\f00d';
}

.upper-h1 {
  background-color: rgb(175, 152, 123);
  height: 45px;
}


/* バーティカルバーメニューここまで */

body {
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 530px;
  border: 0;
  position: relative;
  background-image: url(../images/baby/baby020.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgb(175, 152, 123);
}

/* 枠線 */
.solid {
  margin: 0 auto;
  position: absolute;
  top: 5%;
  left: 2.5%;
  background-color: none;
  box-sizing: border-box;
  width: 92vw;
  height: 475px;
  margin: 12px;
  border: 2px solid #fff;
}

h1 {
  position: absolute;
  left: 16%;
  top: 70px;
  color: white;
  font-size: 20px;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}

.setumei {
  background-color: rgb(175, 152, 123);
  justify-content: center;
}

/* 説明文の位置 */
dl {
  margin: 0;
}

/* explain文字設定 */
div h2 {
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
  background-color: #fff;
  font-size: 30px;
  color: #5a3e16f1;
  text-align: center;
}

.setumei dt h2::before {
  content: "◇";
}

.setumei dt h2 {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  background-color: rgb(175, 152, 123);
  color: white;
}

.setumei dl {
  font-size: 14px;
  background-color: rgb(212, 186, 153);
  color: white;
  text-align: center;
}

.setumei ul {
  margin: 0;
}

.setumei li {
  margin: 0;
  text-align: 0;
  font-size: 13px;
  color: white;
  list-style-type: none;
}

h3 {
  color: rgb(82, 43, 18);
  font-size: 30px;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

#grid {
  display: grid;
  gap: 2px 32px;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Galleeryすばやく大きくなる */
  transition: all 0.2s;
}

/* Galleeryすばやく大きくなる */
img:hover {
  transform: scale(1.4, 1.4);
}



/* レスポンシブ対応対応 */
@media screen and (max-width: 768px) {
  .top {
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin: 0 auto;
  }

  /* mobile枠線 */
  .solid {
    position: absolute;
    top: 7%;
    left: 2%;
    background-color: none;
    box-sizing: border-box;
    width: 88vw;
    height: 220px;
    border: 2px solid #fff;
  }

  /* mobile文字サイズ */
  h1 {
    font-size: 0.8rem;
    width: 100%;
    top: 30px;
  }

  div h2 {
    font-size: 1.5rem;
  }

  .setumei dt h2 {
    font-size: 1.0rem;
  }

  .setumei dd {
    font-size: 0.8rem;
    width: 100%;
  }

  .setumei il {
    font-size: 0.8rem;
    width: 100vw;
  }

  h3 {
    font-size: 1.5rem;
    width: 100%;
  }

  /* Galleryの大きさ縮小 */
  img {
    width: 80%;
    height: auto;
  }

  /* Gallery隙間の間隔 */
  #grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2px;
  }
}