@charset "UTF-8";

/* ヘッダーの固定 */
header {
  position: sticky;
  top: 0;
  width: 100%;
  /* 固定画面を前面に出す */
  z-index: 999;

}

/* バーティカルバーメニュー*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* バーティカルバーの位置 */
.cp_offcm01 {
  position: absolute;
  top: 8px;
  right: 20px;
  display: inline-block;
}

/* menu */
.cp_offcm01 .cp_menu {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 180px;
  cursor: pointer;

  transition: 0.53s transform;
  background-color: rgb(175, 152, 123);
  opacity: 0.8;
}

.cp_offcm01 .cp_menu li {
  list-style: none;
}

.cp_offcm01 .cp_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.cp_offcm01 #cp_toggle01 {
  position: absolute;
  display: none;
  opacity: 0;
}

/* menu巾 */
.cp_offcm01 #cp_toggle01:checked~.cp_menu {
  transform: translateX(-100vw);
}

/* menu toggle */
.cp_offcm01 #cp_toggle01~label {
  display: block;
  cursor: pointer;
  transition: 0.5s transform;
  color: #fff;
}

/* menu × の位置 */
.cp_offcm01 #cp_toggle01:checked~label {
  transform: translateX(-175px);
}

.cp_offcm01 #cp_toggle01~label::before {
  font-family: 'FontAwesome';
  content: '\f0c9';
  font-size: 1.5em
}

.cp_offcm01 #cp_toggle01:checked~label::before {
  content: '\f00d';
}

.upper-h1 {
  padding: 0;
  margin: 0;
  background-color: rgb(175, 152, 123);
  width: 100%;
  height: 45px;
  color: white;

  padding-top: 5px;
  font-size: 12px;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}

/* バーティカルバーメニューここまで */

.plan h1 {
  background-color: #fff;
  font-size: 30px;
  height: 70px;
  color: #5a3e16f1;
  text-align: center;
  padding: 9px;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}


h2 {
  background-color: rgb(187, 218, 228);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.wrapper {
  background-color: rgb(187, 218, 228);
  max-width: 100%;
  padding-bottom: 30px;
  color: #fff;
}

#grid i {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: flex-end;
  display: block;
  font-size: 35px;
}

#grid {
  margin: 0;
  display: grid;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 13px;
  padding-top: 20px;
}

h3 {
  margin: 0;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
  color: rgb(102, 83, 47);
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}

h3::before {
  content: "◇";
}

h3::after {
  content: "◇";
}

.naturalplan {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/background/senga004.jpg);
  color: rgb(102, 83, 47);
  width: 100%;
  height: 430px;
  background-position: center;
  background-size: cover;
  margin: 0;
}

/* 枠線 */
.solid {
  margin: 0 auto;
  position: absolute;
  top: 5%;
  left: 2.5%;
  background-color: none;
  box-sizing: border-box;
  width: 92vw;
  height: 370px;
  margin: 12px;
  border: 4px solid #fff;
}

.plan01 {
  position: relative;
  height: 400px;
}

.photo1 {
  position: absolute;
  top: 50%;
  right: 100px;
}

.plan01 li {
  padding-top: 40px;
  font-size: 17px;
  text-align: center;
  align-items: center;
}

.specialplan {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/background/senga009.jpg);
  color: rgb(102, 83, 47);
  width: 100%;
  height: 430px;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.plan02 {
  position: relative;
  height: 400px;
}

.plan02 li {
  padding-top: 40px;
  font-size: 17px;
  align-items: center;
  text-align: center;
}

.photo2 {
  position: absolute;
  top: 120%;
  right: 100px;
}

.photo3 {
  position: absolute;
  top: 135%;
  right: 340px;
}

p {
  margin: 0;
  padding-top: 0;
  position: absolute;
  top: 16%;
  left: 46%;
  color: rgb(230, 37, 79);
  font-size: 17px;
  font-weight: bold;
  font-family: "ヒラギノ明朝 ProN", "Yu Mincho", serif;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {

  .photo1 {
    display: none;
  }

  .photo2 {
    display: none;
  }

  .photo3 {
    display: none;
  }

  p {
    left: 37%;
  }

  .plan01 li {
    font-size: 1.0rem;
  }

  .plan02 li {
    font-size: 1.0rem;
  }

  .wrapper {
    display: block;
  }

  /* mobile枠線 */
  .solid {
    position: absolute;
    top: 3%;
    left: 1%;
    background-color: none;
    box-sizing: border-box;
    width: 90vw;
    height: 380px;
    border: px solid #fff;
  }

  #grid {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    gap: 35px;
  }

  #grid i {
    font-size: 2.0rem;
  }
}